<link rel="stylesheet" href="/src/client/assets/css/icon-admin.css">
<link rel="stylesheet" href="/src/client/assets/css/bootstrap-theme.css">

<link rel="stylesheet" href="/src/client/assets/css/admin-responsive.css">
<link rel="stylesheet" href="/src/client/assets/css/styles-admin.css">


<div class="container ">

  <form class="login-form" ng-submit="vm.login()">
    <div class="login-wrap">
      <p class="login-img"><i class="icon_lock_alt"></i></p>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_profile"></i></span>
        <input type="text" class="form-control" placeholder="Username" autofocus ng-model="vm.email">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <input type="password" class="form-control" placeholder="Password" ng-model="vm.password">
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </div>
  </form>
</div>
