<link rel="stylesheet" href="/src/client/assets/css/icon-admin.css">
<link rel="stylesheet" href="/src/client/assets/css/bootstrap-theme.css">

<link rel="stylesheet" href="/src/client/assets/css/admin-responsive.css">
<link rel="stylesheet" href="/src/client/assets/css/styles-admin.css">

<section id="container" class="">

  <my-header-admin></my-header-admin>
  <section id="main-content">
    <section class="wrapper">

    </section>

  </section>
</section>

<script src="/src/client/assets/js/jquery.nicescroll.js"></script>
<script src="/src/client/assets/js/script-admin.js"></script>
