<div class="container">
  <my-header></my-header>
  <my-navbar></my-navbar>
  <section id="mainContent">
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <div class="single_page_area">
            <!-- <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Technology</a></li>
            <li class="active">Duis quis erat non nunc fringilla </li>
          </ol> -->
            <h2 class="post_titile">{{vm.news.title}} </h2>
            <div class="single_page_content">
              <div class="post_commentbox">
                <a href="#">
              <i class="fa fa-user"></i>{{vm.news.author}}</a>
                <span>
                 <i class="fa fa-calendar"></i>{{vm.news.createDate}}</span>
                <a><i class="fa fa-tags"></i>{{vm.news.views}}</a>
              </div>
              <div ng-bind-html="vm.news.content"></div>
              <div>Nguồn : <a href="{{vm.news.originalLink}}">{{vm.news.originalLink}}</a></div>
            </div>
          </div>
        </div>

        <div class="similar_post">
          <h2>Bài Viết Liên Quan : <i class="fa fa-thumbs-o-up"></i></h2>
          <ul class="small_catg similar_nav wow fadeInDown animated">
            <div ng-repeat="news in vm.listSuggest">
              <li>
                <div class="media wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"> <a class="media-left related-img" href="#"><img src="{{news.image}}" alt=""></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="/singlepage/{{news._id}}">{{news.title}}</a></h4>
                    {{news.title}}
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
          <div class="single_bottom_rightbar">
            <h2>Bài Viết Gần Đây</h2>
            <ul class="small_catg popular_catg wow fadeInDown">
              <div ng-repeat="news in vm.listTop3">
                <li>
                  <div class="media wow fadeInDown"> <a href="{{news.image}}" class="media-left"><img style="width:120px; height:120px" alt="" src="{{news.image}}"> </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="/singlepage/{{news._id}}">{{news.title}}</a></h4>
                      {{news.title}}
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="single_bottom_rightbar">
            <ul role="tablist" class="nav nav-tabs custom-tabs">
              <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Bài Viết Phổ Biến</a></li>
              <!-- <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent">Recent Comment</a></li> -->
            </ul>
            <div class="tab-content">
              <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                <ul class="small_catg popular_catg wow fadeInDown">
                  <div ng-repeat="news in vm.listPopular">
                    <li>
                      <div class="media wow fadeInDown"> <a class="media-left" href="#"><img style="width:120px; height:120px" src="{{news.image}}" alt=""></a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="/singlepage/{{news._id}}">{{news.title}} </a></h4>
                          {{news.title}}
                        </div>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>

            </div>
          </div>
        </div>
  </section>
  </div>

  <my-footer></my-footer>
